body {
  text-align: center;
  font-size: xx-large;
  position: relative;
  top: 55px;
  color: white;
  background-image: url('../img/sparkly-stars.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading-text:hover {
  color: mediumvioletred;
  transition: all 0.2s;
}

.btn {
  background-color: white;
  color: black;
  font-size: 16px;
  border-radius: 8px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 1px black;
  padding: 12px 48px;
  position: relative;
  top: 40px;
}

.btn:hover {
  background-color: mediumvioletred;
  color: white;
  box-shadow: 5px 10px 8px rgb(100, 11, 67);
  transition: box-shadow 0.7s, color 0.5s, background-color 0.5s;
}

.hyperlink {
  text-align: center;
  position: relative;
  top: 300;
}
