.start {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  font-style: italic;
  font-stretch: expanded;
  font-family: 'Fugaz One', cursive;
}

.heading-text:hover {
  color: purple;
  transition: all 0.2s;
}


body {
  background-color: rgb(153,203,238);
}
