.start {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  font-style: italic;
  font-family: 'ABeeZee', sans-serif;
}

body {
  background-color: rgb(153,203,238);
}
