body {
  background-image: url('../img/unicorn-nebula.jpg');
  text-align: center;
  color: white;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ci {
  background-color: transparent;
  color: white;
  font-size: 28px;
  border-radius: 2px;
  font-family: 'Times New Roman', Times, serif;
  border-color: white;
  width: 250px;
}
