body {
  background-image: url('../img/unicorn-nebula.jpg');
  text-align: center;
  color: white;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: x-large;
}

.paragraph {
  position: relative;
}

.ci {
  background-color: transparent;
  color: white;
  font-size: 32px;
  border-radius: 2px;
  border-color: white;
  width: 250px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: relative;
  right: -70;
}

.home {
  background-color: transparent;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  width: 108px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: relative;
  left: -500;
  padding: 10px;
}
