body {
  background-color: lightsteelblue;
  text-align: center;
  color: white;
}
.btn {
  background-color: white;
  color: black;
  font-size: 20px;
  border-radius: 8px;
  font-family: 'Times New Roman', Times, serif;
  transition-duration: o.4s;
}

.btn:hover {
  background-color: black;
  color: white;
}
